@import 'tailwindcss';

:root {
  --font-family: 'Inter' !important;
}

@theme {
  --color-primary: #2563eb;
  --color-basic-gray: #ebebeb;
  --color-strong-gray: #dfdfdf;
  --color-basic-text: #64748b;
  --color-basic-white: #ffffff94;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Inter' !important;
}
